.register,
.reset,
.home {
  background-color: rgb(85, 103, 204);
  width: 30%;
  margin: 0 auto;
  margin-top: 12.5%;
  padding: 30px 15px;
  border-radius: 5px;
  color: white;
}

.home {
  text-align: center;
}

a {
  color: white;
  text-decoration: none !important;
}

.login {
  background-color: rgb(235, 141, 214);
  width: 30% !important;
  margin: 0 auto;
  margin-top: 12.5%;
  padding: 30px 15px;
  border-radius: 5px;
}
